@use "./sass/variables/colors" as *;
@use "./sass/helpers/mixins" as *;
@use "./sass/layout/global-rules";

input[type="text"] {
  width: 100%;
  height: 47px;
  border: 2px solid transparent;
  outline: none;
  text-align: end;
  padding-right: 15px;
  padding-left: 36px;
  font-size: 24px;
  color: $Very-dark-cyan;
  background-color: $Very-light-grayish-cyan;
  @include border-radius(5px);
  caret-color: $Strong-cyan;
  &:focus {
    border-color: $Strong-cyan;
  }
}
.App {
  background-color: $Light-grayish-cyan-background;
  padding: 222px 0 240px;
  height: 100%;
  @include center-content();
  flex-direction: column;
  .logo {
    margin-bottom: 81px;
    margin-top: -37px;
  }
  .container {
    width: 920px;
    height: 481px;
    background-color: $White;
    display: flex;
    color: $Dark-grayish-cyan;
    @include border-radius(25px);
    .input-bill {
      width: 475px;
      padding: 45px 48px 48px;
      display: flex;
      flex-direction: column;
      gap: 42px;
      label {
        display: block;
        position: relative;
        > p {
          margin-bottom: 5px;
        }

        > img {
          position: absolute;
          top: 46px;
          left: 18px;
        }
      }
      .tip-selector {
        > p {
          margin-bottom: 16px;
        }
        .tips {
          display: flex;
          flex-wrap: wrap;
          gap: 16px 14px;
          .tip-btn {
            list-style: none;
            width: 117px;
            height: 48px;
            font-size: 24px;
            outline: none;
            border: none;
            color: $White;
            background-color: $Very-dark-cyan;
            cursor: pointer;
            label {
              @include center-content();
              width: 100%;
              height: 100%;
              cursor: pointer;
              input[type="radio"] {
                display: none;
              }
            }
            &:has(input[type="radio"]:checked) {
              background-color: $Strong-cyan;
              color: $Very-dark-cyan;
            }
            @include border-radius(5px);
            &:hover:not(:has(.custom)) {
              color: $Very-dark-cyan;
              background-color: $Light-grayish-cyan-background;
            }
            .custom {
              height: 100%;
              padding: 0;
              padding-right: 13px;
              &::placeholder {
                color: $Dark-grayish-cyan;
              }
            }
          }
        }
      }
      .people-num {
        margin-top: -2px;
        p {
          display: flex;
          justify-content: space-between;
          span {
            color: red;
          }
        }
      }
    }
    .output {
      padding: 32px 32px 32px 0;
      flex-grow: 1;
      .result {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $Very-dark-cyan;
        @include border-radius(16px);
        padding: 40px;
        .result-desc {
          display: flex;
          flex-direction: column;
          gap: 25px;
          > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .desc {
              color: $White;
              p:first-of-type {
                margin-top: 6px;
                margin-bottom: -3px;
              }
              small {
                color: $Grayish-cyan;
              }
            }
            > h1 {
              font-size: 3rem;
              letter-spacing: -1px;
              color: $Strong-cyan;
            }
          }
        }
        input[type="reset"] {
          border: none;
          outline: none;
          padding: 9.5px 0;
          font-size: 20px;
          cursor: pointer;
          background-color: $Strong-cyan;
          color: $Very-dark-cyan;
          @include border-radius(5px);
          &:hover {
            background-color: $Light-grayish-cyan-background;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .App {
    padding: 158px 0 0;
    .logo {
      margin-bottom: 34px;
      margin-top: 10px;
    }
    .container {
      width: 100%;
      flex-direction: column;
      @include border-radius(25px 25px 0 0);
      .input-bill {
        width: 100%;
        padding: 33px {
          left: 32px;
        }
        gap: 33.5px;
        .tips {
          gap: 16px !important;
          .tip-btn {
            width: calc(100% / 2 - 8px) !important;
          }
        }
      }
      .output {
        padding: 0 24px 32px;
        .result {
          padding: 24px {
            top: 34px !important;
          } 
          .result-desc {
            gap: 15px !important;
             h1 {
              font-size: 2rem !important;
              margin-top: 4px !important;
            }
          }
          input[type="reset"] {
            margin-top: 33px;
          }
        }
      }
    }
  }
}
